@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
select::-ms-expand {
    display: none;
}

body {
    font-family: "Source Sans Pro";
    color: #3F3F3F;
    background: #E5E5E5;
}
input, textarea, button, select {
    border: none;
    font: inherit;
    color: inherit;
}

.section-wrapper {
    margin: 0 auto;
    width: 1440px;
    padding: 32px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1376px;
    height: 36px;
    margin-bottom: 16px;
}

.adding-text {
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    color: #3F3F3F;
}

.select-list {
    display: inline-block;
    width: 121px;
    height: 36px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #FFFEFB;
}

.sort-product {
    width: 121px;
    height: 36px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 36px;
    text-align: left;
    color: #B4B4B4;
    background: url('../img/select.svg') 99px 16px no-repeat;
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-wrapper {
    position: sticky;
    top: 24px;
    width: 332px;
    height: 440px;
    padding: 24px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    background: #FFFEFB;
}


.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 10px;
    color: #49485E;
}
.form-label span {
    padding-right: 4px;
    background: url('../img/required.svg') right top no-repeat;
}
.form-input {
    display: block;
    padding: 10px 16px 10px 16px;
    margin-bottom: 16px;
    width: 284px;
    height: 36px;
    font-size: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #FFFEFB;
}

.form-input::placeholder {
    color: #B4B4B4;
}
.big-input {
    height: 108px;
    resize: none;
}
.form-last-input {
    margin-bottom: 24px;
}


.form-button {
    display: block;
    width: 284px;
    height: 36px;
    font-family: "Inter";
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #B4B4B4;
    border-radius: 10px;
    background: #EEEEEE;
}


.product-list-wrapper {
    width: 1028px;
}

.product-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.product-card {
    display: inline-block;
    vertical-align: middle;
    width: 332px;
    margin-bottom: 16px;
    margin-right: 16px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    background: #FFFEFB;
}

.product-card:nth-child(3n+3) {
    margin-right: 0;
}

.product-card-photo-wrapper {
    height: 200px;
    margin-bottom: 16px;
}
.product-card-photo-wrapper img {
    border-radius: 4px 4px 0px 0px;
}

.product-card-property {
    padding: 0 16px 24px 16px;
}

.product-name {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

.product-description {
    margin-bottom: 16px;
    font-size: 16px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
}

